*{
    margin:0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace, lastica;
}
/* ==================main================== */
#main{
    height:120vh;
    background: url('./image/background/Home.png') center/cover no-repeat;
    padding:60px 80px;
    color:#fff;
}
.main-head{
    font-size:30px;
    display:flex;
    width:50%;
    margin-bottom:130px;
}
.main-logo img{
    display: block;
    height: 110px;
    margin-right:10px;
}
.main-title{
    display: flex;
    align-items: center;
}
.main-detail{
    font-size:70px;
}
.main-btn{
    display: flex;
    justify-content: space-between;
    font-size:40px;
}
.main-more{
    color:grey;
    cursor: pointer;
}
.main-wallet{
    background:linear-gradient(to right, rgba(128, 0, 128, 0.452), rgba(14, 14, 142, 0.406));
    padding:10px 20px ;
    border-radius:20px;
    cursor:pointer;
    transition: all .3s ease-in;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}
.main-wallet:hover{
    color:black;
    background: #fff;
}
/* =================responsive====================== */
@media screen and (max-width:900px){
    #main{
        height: auto !important;
    }
    .main-head{
        font-size:25px;
    }
    .main-detail{
        font-size:55px;
    }
    .main-logo img{
        height:82px;
    }
    .main-btn{
        font-size:25px;
    }
}
@media screen and (max-width:650px){
    #main{
        padding:60px 50px;
    }
    .main-head{
        margin-bottom:80px;
        width:80%;
        font-size:23px;
    }
    .main-logo img{
        height:60px;
    }
    .main-detail{
        font-size:42px;
        margin-bottom:20px;
    }
    .main-btn{
        font-size:20px;
    }
}
@media screen and (max-width:500px){
    .main-head{font-size:10px;margin-bottom:40px;}
    .main-logo img{height:30px;}
    #main {padding: 15px 20px;}
    .main-detail{font-size:17px;display: flex;}
    .main-detail div{margin-left:10px;}
    .main-btn{font-size:12px;margin-left:10px;}
    .main-wallet{padding:5px 10px;}
}
/* =============================================Counsil================================== */
#counsil{
    padding:60px 80px;
    background:url('./image/background/digital.png')center/cover no-repeat;
}
.counsil-head{
    font-size: 40px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 40px;
    color:#fff;
}
.counsil-card{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    grid-gap:50px;
}
.counsil-card-container{
    background:linear-gradient(to right, rgba(128, 0, 128, 0.452), rgba(14, 14, 142, 0.406));
    border-radius:20px;
    height: 100%;
}
.counsil-img{
    background:url('./image/counsil/counsil.png')center/cover no-repeat !important;
    height:300px;
}
.counsil-detail{
    height: 300px;
    padding:15px;
    text-align: center;
    font-size:18px;
    display: grid;
    grid-template-rows:40% 30% 30% ;
}
.counsil-detail-head{
    text-align: center;
    margin:10px 0;
    color:#79f152;
    font-weight: bold;
}
.counsil-detail-amount input[type=number]{
    height:20px;
    padding: 20px 20px;
    outline:none;
    width: 90%;
    border: 1px solid #fff;
    border-radius:5px;
    font-size:15px;
    background:#d9cfcf;
}
.counsil-detail-btn{
    background:#79f152;
    border-radius:40px;
    height: 40px;
    line-height: 40px;
    color:#fff;
    margin:10px auto;
    width:40%;
    cursor: pointer;
    transition: all .2s linear;
}
.counsil-detail-btn:hover{
    background-color: white;
    color:black
}
/* ==========responsive============= */
@media screen and (max-width:1000px){
    .counsil-card{grid-gap:35px;}
    #counsil{padding:60px 55px;}
}
@media screen and (max-width:997px){
    #counsil{padding:60px 20px;}
    .counsil-detail{height:230px;}
    .counsil-img{height:200px;}
    .counsil-detail-head{margin:0;}
}
@media screen and (max-width:590px){
    .counsil-card{grid-template-columns: 1fr;}
    .counsil-card-container{width: 53%;margin: 0 auto;}
    .counsil-detail{height: auto;}
    .counsil-head{font-size:30px;}
}
@media screen and (max-width:557px){
    #counsil{padding:60px 45px;}
}
@media screen and (max-width:500px){
    #counsil {padding: 16px 20px;}
    .counsil-head {font-size: 19px;margin-bottom:25px;}
    .counsil-detail {font-size:12px;grid-template-rows:auto;grid-template-areas: 'head head head'
                                                            'amount btn btn';}
    .counsil-detail-amount{grid-area: amount;}
    .counsil-detail-head{margin-bottom:10px;grid-area:head;}
    .counsil-detail-btn{height:35px;width:auto;border-radius:10px;margin:0;line-height:35px;grid-area:btn}
    .counsil-detail-lastbtn{width:33%;line-height:25px;height:25px;margin-left:30px;}
    .counsil-detail-amount input[type=number] {font-size:12px;height:20px;padding:16px 10px;}
    .counsil-card-container{border-radius:20px;border: 1px solid rgba(241, 237, 237, 0.437)}
    .counsil-card-container{grid-template-rows:repeat(3, 1fr);width:80%;}
}
/* =============================about ====================================== */
#about{
    padding:60px 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width:100%;
    background:url('./image/background/Services.png')center/cover no-repeat;
    color:#fff;
}
.about-img{
    height: 610px;
    width:100%;
    margin:0 auto;
}
.about-img img{
    height: 100%;
    width:100%;
    object-fit: contain;
}
.about-para-head{
    font-size:60px;
    margin-bottom:30px;
}
.about-para-detail{
    font-size:17px;
    color:rgb(224, 212, 212);
}
/* ===============================responsive============================ */
@media screen and (max-width:1455px){
    .about-para-head{font-size:49px;}
}
@media screen and (max-width:1200px){
    .about-para-head{font-size:40px;}
}
@media screen and (max-width:1000px){
    .about-img {height: 536px;}
    .about-para-head {font-size: 35px;}
}
@media screen and (max-width:915px){
    #about{grid-template-columns: 40% 60%;margin: 0 auto;padding:80px 40px;}
    .about-img{height:300px;}
}
@media screen and (max-width:715px){
    #about{grid-template-rows:40% 60%;grid-template-columns:1fr;padding:80px 60px;}
}
@media screen and (max-width:500px){
    .about-para-head {font-size: 19px;margin-bottom:15px;}
    .about-para-detail {text-align:justify;font-size: 10px;}
    #about{padding:22px 30px;}
}
/* =========================info=============================== */
#info{
    padding:60px 50px;
    background:url('./image/background/FAQs.png')center/cover no-repeat;
    color:#fff;
}
.info-head{
    display: flex;
    font-size:20px;
    width: 90%;
    text-align: center;
    margin-bottom:30px;
}
.info-what{
    margin:10px auto;
    line-height: 70px;
    font-weight: bold;
    width:30%;
    font-size:30px;
}
.info-detail{
    width:80%;
    color:rgb(224, 212, 212);

}
.info-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:30px;
}
.info-card{
    padding:60px 30px;
    background: #212060b7;
    color:#fff;
    font-size:17px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap:60px;
}
/* ======responsive========= */
@media screen and (max-width:1400px){
    .info-card{grid-gap:30px;}
    .info-head{margin-bottom:80px;}
    #info{padding:60px 70px;}
}
@media screen and (max-width:1180px){
    .info-card{grid-gap:0;font-size: 16px;}
    .info-head{margin-bottom:20px;}
}
@media screen and (max-width:1090px){
    .info-card-container{grid-gap:5px;}
    #info{padding:40px 20px;}
}
@media screen and (max-width:919px){
    .info-head{font-size:17px;}
    .info-what{font-size:30px;}
    .info-card{font-size:16px;padding: 20px 10px;}
}
@media screen and (max-width:692px){
    .info-head{font-size:15px;}
    .info-what{font-size:33px;line-height: 43px;}
    .info-card{font-size:13px;}
    .info-card-down ul li{list-style-type: none;margin-left:-35px;}
}
@media screen and (max-width:536px){
    .info-head{font-size:10px;flex-direction: column;width:100%}
    .info-card-container{grid-template-columns: 1fr;}
    .info-card{border:1px solid #fff; font-size:10px}
    .info-what {font-size: 20px;line-height: 0;width:60%;margin-bottom:15px}
    .info-detail{margin-left:0;text-align: justify;width:100%}
}
/* ====================review======================= */
#review{
    padding:60px 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size:20px;
    background:url('./image/background/Services.png')center/cover no-repeat;
    color:#fff;
}
.review-head{
    font-size:40px;
    font-weight:bold;
}
.review-img img{
    margin:15px 70px;
    height: 400px;
}
.review-container{
    border:1px solid rgb(224, 212, 212);
    padding:20px 20px;
    margin:20px 0;
    color: rgb(224, 212, 212);
}
.review-name{
    margin:5px;
    color:red;
    font-size:18px;
}

/* ======================responsive=============== */
@media screen and (max-width:945px){
    #review{font-size:17px;grid-template-columns: 40% 60%;}
    .review-img img {margin: 15px 29px;height:300px}
    .review-head{font-size:35px;}
}
@media screen and (max-width:768px){
    #review{font-size:17px;grid-template-columns: 40% 60%;display:block;}
    .review-img img {margin: 15px 29px;height:300px}
    .review-head{font-size:35px;}
}

@media screen and (max-width:500px){
    #review{padding: 30px 27px;font-size:13px;}
    .review-name{font-size:12px}
    .review-head{font-size:29px;}
}
@media screen and (max-width:364px){
    #review{padding: 20px 25px;font-size:12px;}
    .review-container{margin:13px 0;}
    .review-name{font-size:12px}
    .review-head{font-size:21px;}
}
/* ========================contact============================ */
#contact{
    padding:60px 50px;
    width:100%;
    font-size:27px;
    background:url('./image/background/Home.png')center/cover no-repeat;
    color:#fff;
}
.contact-head{
    font-size:60px;
    margin:40px 0;
    font-size:bold;
}
.contact-info-head{
    text-transform: uppercase;
    margin:20px 0;
}
.contact-info-detail,
.contact-info-detail a{
    color:red;
}
.contact-info-detail a{
    border:1px solid red;
    border-radius:50%;
    padding:5px 7px;
    margin:0 5px;
}
.icon{
    border:1px solid #fff;
    width: 40%;
    padding: 20px;
    text-align: center;
}
/* ======================responsive=============== */
@media screen and (max-width:1140px){
    .icon{width:37%;}
}
@media screen and (max-width:950px){
    .icon{width:47%;}
}
@media screen and (max-width:754px){
    .contact-head{font-size:40px}
    #contact{font-size: 23px;}
}
@media screen and (max-width:704px){
    .icon{width:58%;}
}
@media screen and (max-width:584px){
    .icon{width:100%;}
    #contact {font-size: 18px;}
    .contact-head {font-size: 30px;}
}
@media screen and (max-width:458px){
    .icon{width:100%;}
    #contact {font-size: 18px;padding:15px 35px;}
    .contact-head {font-size: 20px;}
}
@media screen and (max-width:359px){
    .icon{padding:20px 0;width:79%;padding:14px 0;
    background:linear-gradient(to right, rgba(128, 0, 128, 0.452), rgba(14, 14, 142, 0.406));
    border:1px solid rgb(0 173 255 / 58%)}
    #contact{font-size:13px;}
    .contact-info-head{margin:10px 0;}
    .contact-head{margin:10px 0;font-size:16px;}
}